  <div class="d-flex">
    <h3 class="font-weight-normal">{{house.title}}  </h3>
    <div class="ml-auto">
      <button class="btn btn-primary m-1"type='button' (click)='onEditHouse()'><i class="fas fa-edit"></i></button>
      <button class="btn btn-danger m-1" type='button' (click)='askConfirmDeleteHouse()'><i class="fas fa-trash-alt"></i></button>
    </div>
  </div>
  <p>
    {{house.category}} <span *ngIf="house.surface && house.surface !== undefined">de {{ house.surface}} m², </span> <span *ngIf="house.rooms && house.rooms!==undefined">{{ house.rooms}} pièce(s)</span>.
  </p>
<p *ngIf="house.price && house.price !== undefined">
  {{house.price}} €
</p>


