<div class="bg-white w-100 shadow my-3">
  <div *ngFor="let photo of house.photos; let first = first" class="w-100 my-auto">
    <img [src]="photo" alt="Property photo" class="w-100">
  </div>
  <h3 class="font-weight-normal pt-3 pl-3 mb-0">{{ house.title }}</h3>
  <small class="pl-3">{{ house.category }}, {{ house.surface }} m², {{ house.rooms }} pièce(s)</small>
  <h4 class="font-weight-normal pl-3 pt-3">{{ house.price }} €</h4>
  <p class="mb-3 pl-3" [ngStyle]="{color: getSoldValue(index)}">
    <span *ngIf="!house.sold">A vendre</span>
    <span *ngIf="house.sold">Vendu !</span>
  </p>
  <div class="text-center">
    <div class="d-flex">
      <button class="btn btn-primary mx-auto my-3" (click)="onViewHouse()">Voir ce bien</button>
    </div>
  </div>
</div>
