<div class="rounded shadow bg-white p-5">
  <div class="row">
    <div class="col-12 d-flex">
      <h2 class="font-weight-light"><i class="fas fa-home"></i> Biens immobiliers</h2>
      <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" data-target="#housesFormModal" (click)='resetForm()'><i
          class="fas fa-plus"></i> Ajouter un bien</button>
    </div>
  </div>
  <hr class="mt-1 mb-5 bg-dark">
  <div class="row">
    <div class="col-12 shadow-sm p-4 mb-3 bg-light" *ngFor="let house of houses; let i = index">
      <div class="d-flex">
        <h3 class="font-weight-normal">{{house.title}}  </h3>
        <div class="ml-auto">
          <button class="btn btn-primary m-1"type='button' (click)='onEditHouse(house, i)'><i class="fas fa-edit"></i></button>
          <button class="btn btn-danger m-1" type='button' (click)='askConfirmDeleteHouse()'><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
      <p>
        {{house.category}} <span *ngIf="house.surface && house.surface !== undefined">de {{ house.surface}} m², </span> <span *ngIf="house.rooms && house.rooms!==undefined">{{ house.rooms}} pièce(s)</span>.
      </p>
    <p *ngIf="house.price && house.price !== undefined">
      {{house.price}} €
    </p>


    </div>
  </div>
</div>

<!--deleteModal-->
<div class="modal fade" id="confirmDeleleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Supprimer ce bien ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)='onDeleteHouse()'>Supprimer</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="housesFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form [formGroup]="housesForm" (ngSubmit)="onSubmitHousesForm()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Edition d'un bien</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Titre" formControlName='title'>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Catégorie</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" formControlName='category'>
              <option value="Appartement">Appartement</option>
              <option value="Maison">Maison</option>
            </select>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <input type="text" placeholder="Surface (m²)" class="form-control" formControlName='surface'>
            </div>
            <div class="form-group col-6">
              <input type="text" placeholder="Nombre de pièces" class="form-control" formControlName='rooms'>
            </div>
          </div>
          <div class="form-group">
            <textarea placeholder="Description du bien" rows="4" class="form-control w-100" formControlName='description'></textarea>
          </div>
          <div class="form-group">
            <input type="text" placeholder='Prix' class="form-control" formControlName='price'>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" type='submit' [disabled]='housesForm.invalid'>Enregistrer</button>
        </div>
      </div>
    </form>
  </div>
</div>
